@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Luckiest+Guy&display=swap");

$primary: #37425b;
$secondary: rgb(72, 209, 195);
$borderBottom: #aaaaaa;
$text: antiquewhite;
$alttext: rgba(66, 66, 66, 0);
$font1: "Luckiest Guy", cursive;
$font2: "Bitter", serif;
